body {
  background: #fcfcfa;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

#globe {
  fill: blue;
}

.land {
  fill: gray;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.label {
  font-size: .5em;
}

.active {
  fill: #036564;
}

text {
  font-family: "Overlock", cursive;
  font-size: 2em;
}